.nav-tab-about {
    display: flex;
}

.nav-tab-about>:first-child {
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;

    color: black;
}


.nav-tab-about>:first-child:hover {
    background-color: #dbe2f0;
    cursor: pointer;

}

.nav-tab-about> :last-child {
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;


    background-color: rgb(165, 1, 1);
    color: white;
}

.nav-tab-about>:last-child:hover {
    background-color: #dbe2f0;
    cursor: pointer;
    color: black;
}




/* --------------------------------------------------------- about ------------------ */

.about {
    margin-top: 70px;
    background-color: #e7ebf3;
    display: flex;
    justify-content: center;

}

.about-main-1 {
    margin: 30px 0px;
    padding: 15px 5px;
    background-color: white;
}

.about-main-1>:first-child {
    font-weight: bolder;
    font-size: 1.7rem;
    text-transform: uppercase;
    transform: scaleY(1.5);
    margin-bottom: 15px;
}

.about-main-1>:last-child {
    font-size: .9rem;
}

.about-main-2 {
    height: 155px;
    padding: 12px;
    background-color: rgb(209, 52, 52);
    color: white;
    margin: 30px 0px 30px 20px;
}

.about-main-2>:first-child {
    margin-bottom: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1rem;
}

.about-main-2>:nth-child(2) {
    font-size: .9rem;
    margin-bottom: 10px;
}

#about-button {
    width: 100%;
    padding: 8px 0px;
    border: none;
    border-radius: none;
    background-color: rgb(41, 39, 39);
    color: white;
}

#about-button:hover {
    background-color: rgba(41, 39, 39, 0.8);
    color: rgb(243, 174, 174);

}