@media (max-width: 425px) {

    /* ------------------------------------------navbar------------------------ */
    .nav-icon {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 120px;

    }

    .nav-links {
        margin-left: -80px;
        margin-top: 8px;
    }



    /* ----------------------------------------------main paragrapgh----------------------------------- */


    .featured {
        margin-top: 110px;
        padding: 2.5rem 4.5rem;
    }

    /* -----------------------------------------------------------main article----------------------------------- */

    .main-article {
        padding: 30px 60px;
        background-color: #dbe2f0;
    }

    .article {
        grid-template-columns: 285px;
        grid-template-rows: 330px 150px 330px 330px 330px 150px 330px;
        grid-row-gap: 1em;
    }

    .item-img {
        height: 170px;
        margin: 5px 2px;
    }

    .item-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .item-1-edit {
        display: block;
    }

    .item-2 {
        grid-area: 2 / 1 / 3 / 2;

    }

    .item-2-edit {
        display: block;
    }


    .item-3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .item-3-edit a,
    .item-3-edit p {
        margin-left: 8px;
    }

    .item-4 {
        grid-area: 4 / 1 / 5 / 2;

    }

    #item-4-edit>:first-child {
        margin-top: 10px;
    }


    .item-5 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .item-6 {

        grid-area: 6 / 1 / 7 / 2;
    }

    .item-7 {
        grid-area: 7 / 1 / 8 / 2;
    }


    /* ------------------------------------------------ footer--------------------------------------------- */

    .footer {
        height: 700px;

    }

    .footer-group {
        grid-template-columns: 300px;
        grid-template-rows: 140px 170px 180px 140px 40px;
        grid-row-gap: 5px;
    }

    .f-item-1 {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 1rem;
        border-bottom: 1px dotted white;
    }

    .f-item-1 img {
        margin-top: 5px;
        height: 35px;
    }

    .f-item-2 {
        border-bottom: 1px dotted white;
        grid-area: 2 / 1 / 3 / 2;
    }


    .f-item-2 form input {
        width: 80%;
        padding: 7px 0px;
    }

    .f-item-2 form button {

        width: 80%;
        padding: 7px 0px;
    }

    .f-item-3 {

        grid-area: 3 / 1 / 4 / 2;
    }

    .f-item-4 {

        grid-area: 4 / 1 / 5 / 2;
    }

    .f-item-5 {

        grid-area: 5 / 1 / 6 / 2;
    }



    .about {
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-main-1 {
        margin: 30px 15px 0px 15px;
        padding: 15px 5px;
        background-color: white;
    }

    .about-main-2 {
        width: 70%;
    }


    .art {
        display: flex;
        flex-direction: column;
    }

    .art-main-1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .art-main-1 img {
        height: 200px;
    }

    .art-main-1>:nth-child(2) {
        font-size: 1.5rem;
    }

    .art-main-2 {
        width: 70%;
    }
}







/* --------------------------------------------------------------------------------------------------------------------- */


@media(max-width:320px) {
    .featured-1> :nth-child(3) {
        display: none;
    }

    .featured-1> :nth-child(2) {
        margin-bottom: 30px;
    }

    .main-article {
        padding: 30px 34px;
        background-color: #dbe2f0;
    }

    .article {
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 310px 150px 310px 310px 310px 150px 310px;
        grid-row-gap: 1em;
    }

    .item-img,
    .main-img {
        height: 150px;
    }

    .footer {
        height: 750px;

    }

    .footer-group {
        grid-template-columns: 250px;
        grid-template-rows: 180px 180px 180px 140px 40px;
        grid-row-gap: 5px;
    }

    .f-item-1 img {
        height: 30px;
    }

    .art-main-1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .art-main-1 img {
        height: 180px;
    }

    .art-main-1-1 {
        display: none;
    }

}


/* ------------------------------------------------------------------------------------------------------------------------------------ */